HN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HN.Stationaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stationary">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product.id" type="xs:unsignedByte" />
              <xs:element name="product.name" type="xs:string" />
              <xs:element name="quantity" type="xs:string" />
              <xs:element name="price.per.unit" type="xs:unsignedByte" />
              <xs:element name="price.per.dozen" type="xs:unsignedShort" />
              <xs:element name="In.stock" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>